{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Zeel Sinojia</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Portfolio/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar-header">
                <div class="logo">
                    <h4>Zeel Sinojia</h4>
                </div>
                <ul class="media-links">
                    <li>
                        <a href="https://github.com/ZeelSinojia" target="_blank">
                            <img src="{% static 'Portfolio/images/github-logo.png' %}" alt="github" height="30px" width="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/_zeel___/" target="_blank">
                            <img src="{% static 'Portfolio/images/instagram.png' %}" alt="instagram" height="30px" width="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/zeelsinojia/" target="_blank">
                            <img src="{% static 'Portfolio/images/linkedin.png' %}" alt="linkedin" height="30px" width="30px">
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="{% url 'portfolio' %}">Portfolio</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer-details">
        <div class="footer">
            <h4>&copy;2020•<a href="#">Zeel Sinojia</a></h4>
        </div>
    </footer>
</body>

</html>