{% extends "Portfolio/base.html" %}
{% load static %}
{% block content %}
		
    <div class="about-content">
        <section class="section-part">
            <div class="projects-details">
                <h3>
                    Projects
                </h3>
                {% for p in project %}
                <div class="project">
                        <h4>{{ p.project_title }}</h4> 
                        <p>{{ p.project_description }}</p>
                    </a>
                </div>    
                {% endfor %}
            </div>
            <div class="technology-details">
                <h3>
                    Technical Skills
                </h3>
                <ul class="column">
                {% for t in technicalskill %}
                    <h4>
                        <li>{{ t }}</li>
                    </h4>
                {% endfor %}
                </ul>
            </div>
            <div class="website-details">
                <h3>
                    Perosnal Websites
                </h3>
                <div class="website">
                    {% for website in personalwebsite %}
                    <h4>
                        <a href="http://127.0.0.1:8000/">
                            {{ website.personal_website }}
                        </a>
                    </h4>
                    <p>
                        {{ website.personal_website_description }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </section>
        <aside class="aside-part">
            <div class="education-details">
                <h3>
                    Education
                </h3>
                {% for e in education %}
                <div class="education">
                    <h4>{{ e.institute }}</h4> 
                    <p>{{ e.education }}</p>
                    <p>Grades: {{ e.grade }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="activity-details">
                <h3>
                    Activities/Hobbies
                </h3>
                {% for a in activity %}
                <div class="activity">
                    <h4>{{ a.activity }}</h4> 
                    <p>{{ a.activity_description }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="resume-details">
                <h3>Resume</h3>
                <div class="resume">
                    <a href="{% static 'Portfolio/docs/Zeel-Sinojia-Resume.pdf' %}" target="_blank">
                        <h4>View Reusme(PDF)</h4>
                    </a>
                </div>
            </div>
        </aside>
    </div>
{% endblock content %}