* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-y: scroll;
    background-color: white;
    color: black;
}

body::-webkit-scrollbar {
    display: none;
}

home {
    height: 10vh;
}

.nav-bar-header {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    width: 100%;
    margin: auto;
}

.logo {
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    margin-top: 10px;
    transition: color 100ms;
    width: 100%;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    color: orangered;
    cursor: pointer;
}

.responsive-logo {
    display: none;
}

.media-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 20px;
}

.github-link {
    height: 30px;
    width: 30px;
    transition: color 100ms;
    color: green;
}

.github-link:hover {
    color: orangered;
}

.instagram-link {
    height: 30px;
    width: 30px;
    transition: color 100ms;
    color: green;
}

.instagram-link:hover {
    color: orangered;
}

.linkedin-link {
    height: 30px;
    width: 30px;
    transition: color 100ms;
    color: green;
}

.linkedin-link:hover {
    color: orangered;
}

.media-links {
    margin-top: 10px;
}

.media-links li {
    list-style: none;
}

.media-links a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 10px;
}

.home-link {
    color: green;
    transition: color 100ms;
}

.home-link:hover {
    color: orangered;
}

.contact-link {
    color: green;
    transition: color 100ms;
}

.contact-link:hover {
    color: orangered;
}

.portfolio-link {
    color: green;
    transition: color 100ms;
}

.portfolio-link:hover {
    color: orangered;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .nav-bar-header {
        display: flex;
        justify-content: space-around;
        min-height: 10vh;
        width: 215px;
        margin: auto;
    }
    .logo {
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 25px;
        margin-top: 10px;
        transition: color 100ms;
    }
    .logo a {
        text-decoration: none;
        color: black;
    }
    .nav-bar-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .github-link {
        margin-left: 10px;
        margin-right: 10px;
    }
    .instagram-link {
        margin-left: 10px;
        margin-right: 10px;
    }
    .linkedin-link {
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-links {
        margin-top: 20px;
    }
    .nav-links a {
        font-size: 15px;
        padding: 10px;
    }
    .home h3 {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .home p {
        font-size: 15px;
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.home h3 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.home p {
    font-size: 18px;
}

.home p b {
    font-weight: normal;
    color: green;
}

.about-content {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.section-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10vh;
    width: 80%;
    margin-left: 50px;
}

.projects-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid green;
    border-radius: 3px;
}

.projects-details h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    font-size: 30px;
    margin-top: 10px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.project h4 {
    font-size: 25px;
    margin-top: 20px;
    color: green;
}

.project p {
    margin-top: 5px;
}

.technology-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid green;
    border-radius: 3px;
}

.technology-details h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.technology {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.technology h4 {
    font-size: 20px;
    margin-top: 5px;
    color: green;
}

.website-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid green;
    border-radius: 3px;
}

.website-details h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    font-size: 30px;
    margin-top: 10px;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.website h4 {
    font-size: 25px;
    margin-top: 20px;
    color: green;
}

.website h4 a {
    color: green;
    text-decoration: none;
    cursor: pointer;
    transition: color 100ms;
}

.website h4 a:hover {
    color: orangered;
}

.aside-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10vh;
    width: 50%;
    margin-right: 50px;
}


/* .education-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid green;
    border-radius: 3px;
}

.education-details h3 {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    letter-spacing: 5px;
    font-size: 30px;
}

.education h4 {
    font-size: 25px;
    margin-top: 20px;
    color: green;
}
 */

.education-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid green;
    border-radius: 3px;
}

.education-details h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    font-size: 30px;
    margin-top: 10px;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.education h4 {
    font-size: 25px;
    margin-top: 20px;
    color: green;
}

.education p {
    margin-top: 5px;
}

.activity-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid green;
    border-radius: 3px;
}

.activity-details h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    font-size: 30px;
    margin-top: 10px;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.activity h4 {
    font-size: 25px;
    margin-top: 20px;
    color: green;
}

.activity p {
    margin-top: 5px;
}

.resume-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
    padding: 30px;
    border: 2px solid green;
    border-radius: 3px;
}

.resume-details h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    font-size: 30px;
    margin-top: 10px;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.resume h4 {
    color: green;
    text-decoration: underline;
    text-decoration-color: green;
    transition: color 100ms, text-decoration-color 100ms;
}

.resume h4:hover {
    color: orangered;
    text-decoration-color: orangered;
}

.resume a h4 {
    text-decoration-line: all;
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    .aside-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 10vh;
        width: 80%;
        margin: auto;
    }
    .projects-details h3 {
        letter-spacing: 3px;
        font-size: 20px;
        margin-top: 10px;
    }
    .project h4 {
        font-size: 15px;
        margin-top: 20px;
        color: green;
    }
    .technology-details h3 {
        letter-spacing: 3px;
        font-size: 20px;
        margin-top: 10px;
    }
    .technology h4 {
        font-size: 20px;
        margin-top: 20px;
        color: green;
    }
    .website-details h3 {
        letter-spacing: 3px;
        font-size: 20px;
        margin-top: 10px;
    }
    .website h4 {
        font-size: 20px;
        margin-top: 20px;
        color: green;
    }
    .education-details h3 {
        letter-spacing: 3px;
        font-size: 20px;
        margin-top: 10px;
    }
    .education h4 {
        font-size: 20px;
        margin-top: 20px;
        color: green;
    }
    .activity-details h3 {
        letter-spacing: 3px;
        font-size: 20px;
        margin-top: 10px;
    }
    .activity h4 {
        font-size: 20px;
        margin-top: 20px;
        color: green;
    }
    .resume-details h3 {
        letter-spacing: 3px;
        font-size: 20px;
        margin-top: 10px;
    }
    .resume h4 {
        font-size: 20px;
        margin-top: 20px;
        color: green;
    }
}

.footer-details {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.footer h4 {
    letter-spacing: 3px;
}

.footer h4 a {
    text-decoration: none;
    color: green;
}

.form-title {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: all;
    letter-spacing: 5px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
}

.form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.form label {
    font-size: 20px;
    color: green;
    padding: 3px;
}

.errorlist {
    list-style: none;
    font-size: 20px;
    color: red;
}

.form input {
    padding: 3px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 18px;
}

.form textarea {
    padding: 3px;
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.form-field {
    display: flex;
    flex-direction: row;
}

.form input[type="submit"] {
    background-color: green;
    color: rgb(226, 226, 226);
    font-size: 20px;
    max-width: 100px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px 24px;
}